[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
pylint = "*"
black = "*"
sceptre = "*"
git-release-tag = "*"

[packages]
aws_route53_migrate = {editable = true, path = "."}

[requires]
python_version = "3.9"
